<% form_for( [step, note], :url => step_note_path(step) ) do |f| %>
  <%= f.error_messages %>

  <p class="step_note_container">
    <%= f.label "Create a new note:" %><br/>
    <%= f.text_area :text %><br/>
    <%= f.submit 'Add note' %>
  </p>
<% end %>
<a class="btn-note-edit-cancel" href"#" >Cancel edit</a>
