<div class= "step_note_form"  >
    <% if logged_in? && current_user.can_edit_for_experiment?(step.experiment) %>
    <% if step.note %>
	    <%= render( :partial => 'notes/edit', 
		       :locals=>{:step => step, :note => step.note}) %> 
    <% else %>
	    <%= render( :partial => 'notes/new', 
		       :locals=>{:step => step, :note => Note.new}) %>
	       <% end %>
    <%else%>
    <i>User has not submitted any observations or data here yet.</i>
    <%end%>
</div>

<div class= "step_note_view" >
   <% if step.note %>
	<%= render( :partial => 'notes/show', 
			:locals=>{:step=>step, :note=>step.note}) %>
  <% end %>	
</div >
