<p class= step_note_container >
<%= save_notice %></br>
<%= image_tag( step_image_path( note.image, :jpg ), :class => "step_note" ) unless note.image.blank? %>

<%=h note.text %></p>
<div class="hanging-toolbar" >
	<ul>
		<li>

		<% if logged_in? && current_user.can_edit_for_experiment?(step.experiment) %>
  		<a class="btn-note-edit" href"#">Edit Note</a>
		<% end %>
		</li>
	</ul>
</div>

