<p>
  <b>Term:</b>
  <%=h @glossary.term %>
</p>

<p>
  <b>Definition:</b>
  <%= add_glossary_links(@glossary.definition)%>
</p>


<%= link_to 'Edit', edit_glossary_path(@glossary) %> |
<%= link_to 'Back', glossaries_path %>