/* 
    Document   : glossary
    Created on : Jul 14, 2010, 3:13:01 PM
    Author     : jacqueline
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*styling for glossaries page*/

h1{
    text-align: center;
    
}
#container {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

body, ol, ul, td {
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
	background-position: center;
/*background-color: #f7f4ee;*/
	background-color:#efefef;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  text-align: left;
}

 p,ol,ul,td {
  margin-left: 12em;
  margin-right: 10em;
  text-align: left;
}

h2{
  margin-left:8em;
  text-align: left;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { color: #fff; background-color:#000; }
a:visited { color: #666; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

 .def { border: 1px solid black;
        background: silver;
        
        
        display: none;
        float: right;
        position: relative;
      
        

        -webkit-box-shadow: 5px 5px 7px #333;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -moz-box-shadow: 5px 5px 7px #333;
  }

  .term{
      border-top: 1px solid silver;
      padding-top: 1em;
    }

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#menu{
    border: 1px solid gray;
    position:relative;
    float: left;
    background: white;
    width: 120px;
    
     /*-webkit-border-radius: 5px;
     -moz-border-radius: 5px;*/
     
}

.item{
  width: inherit;
  height: 18px;
  overflow: hidden;
  margin-left: 8px;
}


.hanging-toolbar{
    margin-right: 12em;
    margin-left: 12em;
    border-top: 1px silver solid;
    clear:right;
}

.caption{
    float :none;
   /* border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;*/
   
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    width: 20em;
    margin-bottom: 5px;

}

.image{
    /*border: 1px black solid;*/

    text-align: center;

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    float: none;
}

.captionimage{
    float: right;
    border: 1px black solid;
    margin-right: 12em;
    margin-bottom: 15px;
    margin-left: 15px;
}

.edit{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 12em;
    float : right;
}

.section{
    margin-top: 0px;
}

.image_form{
    border: solid black 1px;
    margin-left: 470px;
    margin-right: 250px;
}
.description{
    float:left;
    margin-bottom: 150px;
}

em{
    display:none;
}