/* 
    Document   : glossary
    Created on : Jul 14, 2010, 3:13:01 PM
    Author     : jacqueline
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*styling for glossaries page*/

#encyclopaedia{
 /* changed by mike to make it zoom propers
  * margin-left:150px;
    margin-right:150px;
  */
    /*width:850px;
    margin-right: 175px;
    float: right;*/
}

.show_intro {
	/*css fix added by mike*/
	clear:both;
}

#encyclopaedia h1{
    text-align: center;
    
}
#encyclopaedia .title-header{
    margin-top: 50px;
    margin-bottom:50px;
}
#encyclopaedia .article_header{
    Line-height: 35px;
    font-size: 30px;
    font-family: Courier, Times, Monospace, Western;
}
#container {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

 body, ol, ul, td {
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
	background-position: center;
/*background-color: #f7f4ee;*/
	background-color:#efefef;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  text-align: left;
}

 #encyclopaedia p{
  text-align: left;
}

#encyclopaedia h2{
  text-align: left;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { color: #000; }
a:visited { color: #666; }

#encyclopaedia .fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#encyclopaedia #errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin-left:12em;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

 .definition {
        border: 1px solid black;
        background: silver;
        

        
       
        position: absolute;
        width: 225px;
        right: 125%;
        /*top:30% !important;
        bottom:auto;
        right:auto;*/
        display:none;
        z-index: 2;
        
   

        -webkit-box-shadow: 5px 5px 7px #333;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -moz-box-shadow: 5px 5px 7px #333;
  }

  .show_term{
      padding-top: 1em;
    }

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#encyclopaedia #menu{
    border: 1px solid gray;
    position:relative;
    float: left;
    background: white;
    width: 120px;

    margin-right: 20px;
    
     /*-webkit-border-radius: 5px;
     -moz-border-radius: 5px;*/
     
}

#menu.item{
  width: inherit;
  height: 18px;
  overflow: hidden;
  margin-left: 8px;
}


#encyclopaedia .hanging-toolbar{
    margin-bottom: 0px;
    border-top: 2px silver solid;
    clear:right;
}

#glossary .hanging-toolbar{
    margin-top: 0px;
}

.caption{
    float :none;
   /* border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;*/
   
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    width: 20em;
    margin-bottom: 5px;

}

.image{
    /*border: 1px black solid;*/

    text-align: center;

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    float: none;
}

#encyclopaedia .captionimage{
    float: right;
    border: 1px black solid;
    margin-bottom: 15px;
    margin-left: 15px;
}

.edit{
    margin-bottom: 0px;
    margin-top: 0px;
    float : right;
}

.section{
    margin-top: 0px;
}

.image_form{
    border: solid black 1px;
    margin-left: 470px;
    margin-right: 250px;
}

#encyclopaedia .image_form_link{
   
}
.description{
    float:left;
    margin-bottom: 150px;
}

#article .intro{
    margin-right: 12em;
}

/*<#encyclopaedia em{
    display:none;
}
when I figure out what these two are for, I need to re label them and put a comment about why they are this way.*/

/*.def{
    display:none;
}*/
.video{
    margin-left: 12em;
    display:none;
}

#encyclopaedia .show_section_vidlink{
    margin-top: 20px;
}

#encyclopaedia .article_list{
    border-right: 1px solid gray;
    float: left;
    width:250px;
    line-height: 25px;
    font-size: 15.5px;
}

#encyclopaedia .article_intro{
    font-family: Courrier;
    float: right;
    /* width:490px;
     * changed by mike for proper zooming
     * */
    width:400px;
    margin-left: 10px;
    margin-right:40px;
}

#encyclopaedia .index{
/* removed by mike for proper zooming    width:825px;*/
    position:relative;
    
/* removed by mike for proper zooming    margin-left:50px; */
    
    
    border-top: 1px solid gray;
}

#encyclopaedia .article_button{
    border-bottom: 1px solid gray;
    overflow: hidden;
}

#encyclopaedia .links{
    margin-bottom: 0px;
    height: 18px;
}

#encyclopaedia .edit_form{
    margin-bottom: 0px;
    height: 18px;
    display: none;
}

#encyclopaedia .index_new_article{
    line-height: 18px;
    font-size: 13px;
}

#encyclopaedia .new_article_form{
    display:none;
    float:right;
    width: 490px;
}

#encyclopaedia .show_nav_links{
    position: relative;
 /*   left:800px;
  *   css fix added by mike*/
    float:right;
    margin-top: 45px;
}

#encyclopaedia .show_section_title{
    position: relative;
    top: -20px;
    font-family: courrier, times, serif, monospace;
    line-height: 24px;
    font-size: 22px;
    margin-top: 5px;
}

#encyclopaedia .edit_section_form{
    display: none;
    width: 850px;
    height: 300px;
    clear: both;
}

#encyclopaedia .show_section_edit_text{
    position:relative;
    float: left;
}

#encyclopaedia textarea{
    width: 400px;
}

#encyclopaedia .show_section_edit_video{
    position:relative;
    float:right;
}

#encyclopaedia .update_button{
    text-align: left;
}

#encyclopaedia .letter_section{
    display: none;
}

#encyclopaedia #glossary .index_new_gloss_form{
    display:none;
}

#encyclopaedia .glossary_edit_form{
    display:none;
}

#encyclopaedia .glossary_index_edit_links{
    float: right;
}

#encyclopaedia .glossary_index_term_text{
    margin-top: 5px;
}

#encyclopaedia .glossary_index_term{
    line-height: 21px;
    font-size:15px;
}
#encyclopaedia .glossary_index_definition{
    margin-top: 5px;
}

.gloss_links{
    position:relative;
}

#encyclopaedia .article_text{
    display: none;
}
