/* 
    Document   : glossary
    Created on : Jul 14, 2010, 3:13:01 PM
    Author     : jacqueline
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*styling for glossaries page*/

#encyclopaedia{
    margin-left: 150px;
    margin-right: 150px;
}

#encyclopaedia h1{
    text-align: center;
    
}
#encyclopaedia .header{
    margin-top: 50px;
    margin-bottom:50px;
}
#encyclopaedia .article_header{
    Line-height: 35px;
    font-size: 30px;
    font-family:Courrier, Times, Monospace, Western;
}
#container {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

 body, ol, ul, td {
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
	background-position: center;
/*background-color: #f7f4ee;*/
	background-color:#efefef;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  text-align: left;
}

 #encyclopaedia p{
  text-align: left;
}

#encyclopaedia h2{
  text-align: left;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { color: #000; }
a:visited { color: #666; }

#encyclopaedia .fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#encyclopaedia #errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin-left:12em;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

 #encyclopaedia .definition { border: 1px solid black;
        background: silver;
        
        
        display: none;
        float: right;
        position: relative;
      
        

        -webkit-box-shadow: 5px 5px 7px #333;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -moz-box-shadow: 5px 5px 7px #333;
  }

  .term{
      border-top: 1px solid silver;
      padding-top: 1em;
    }

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#encyclopaedia #menu{
    border: 1px solid gray;
    position:relative;
    float: left;
    background: white;
    width: 120px;

    margin-right: 20px;
    
     /*-webkit-border-radius: 5px;
     -moz-border-radius: 5px;*/
     
}

#menu.item{
  width: inherit;
  height: 18px;
  overflow: hidden;
  margin-left: 8px;
}


#encyclopaedia .hanging-toolbar{
    margin-bottom: 0px;
    border-top: 2px silver solid;
    clear:right;
}

.caption{
    float :none;
   /* border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;*/
   
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    width: 20em;
    margin-bottom: 5px;

}

.image{
    /*border: 1px black solid;*/

    text-align: center;

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    float: none;
}

#encyclopaedia .captionimage{
    float: right;
    border: 1px black solid;
    margin-bottom: 15px;
    margin-left: 15px;
}

.edit{
    margin-bottom: 0px;
    margin-top: 0px;
    float : right;
}

.section{
    margin-top: 0px;
}

.image_form{
    border: solid black 1px;
    margin-left: 470px;
    margin-right: 250px;
}

#encyclopaedia .image_form_link{
   
}
.description{
    float:left;
    margin-bottom: 150px;
}

#article .intro{
    margin-right: 12em;
}

#encyclopaedia em{
    display:none;
}

.def{
    display:none;
}
.video{
    margin-left: 12em;
}

#encyclopaedia .show_section_vidlink{
    margin-top: 20px;
}

#encyclopaedia .article_list{
    border-right: 1px solid gray;
    float: left;
    width:250px;
    line-height: 25px;
    font-size: 15.5px;
}

#encyclopaedia .article_intro{
    display:none;
    font-family: Courrier;
    float: right;
    width:490px;
    margin-left: 10px;
}

#encyclopaedia .index{
    margin-left:100px;
    margin-right: 95px;
    border-top: 1px solid gray;
}

#encyclopaedia .article_button{
    border-bottom: 1px solid gray;
}

#encyclopaedia .links{
    margin-bottom: 0px;
    height: 18px;
}

#encyclopaedia .edit_form{
    margin-bottom: 0px;
    height: 18px;
    display: none;
}

#encyclopaedia .index_new_article{
    line-height: 18px;
    font-size: 13px;
}

#encyclopaedia .new_article_form{
    display:none;
    float:right;
    width: 490px;
}

#encyclopaedia .show_nav_links{
    position: relative;
    left: 690px;
    margin-top: 45px;
}

#encyclopaedia .show_section_title{
    position: relative;
    top: -20px;
    font-family: courrier, times, serif, monospace;
    line-height: 24px;
    font-size: 22px;
    margin-top: 5px;
}

#encyclopaedia .edit_section_form{
    display: none;
    width: 850px;
    height: 300px;
    clear: both;
}

#encyclopaedia .show_section_edit_text{
    position:relative;
    float: left;
}

#encyclopaedia textarea{
    width: 400px;
}

#encyclopaedia .show_section_edit_video{
    position:relative;
    float:right;
}

#encyclopaedia .update_button{
    text-align: left;
}