/* hide all tabs except the one you want to show on page load*/
/*tabs on group page*/
#group-members,#group-messages , #admin-tools {
	display: none;
}

/* tabs on profile page */
#lab-book, #profile-options {
	display: none;
}

/* general header styling */
div#header {
	border-bottom: 5px solid #282560;
}
#header div.experiment-status {
	float:right;
}
div#header h1 {
	float:left;
}
div#header p, #group-info p, div.message p {
	color: #282560;
	font-family:georgia,serif;
	font-style:italic;
	font-size:1.2em;
	line-height:1.5em;
	margin-bottom: 0.5em;
	clear:both;
}
div#header-toolbar {
/*	border-bottom:5px solid black ;*/
	clear:both;
	margin:0;
	margin-top: 0.25em;
	
} 
div#header-toolbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	overflow: hidden;

}
div#header-toolbar ul li {
	float: left;
}
div#header-toolbar ul li.right {
	float: right;
}
div#header-toolbar ul li.right a:link, div#header-toolbar ul li.right a:visited, div#header-toolbar ul li.right a:hover {
	margin: 0;
	margin-left:3px;
}

div#header-toolbar ul li a:link, div#header-toolbar ul li a:visited {
	display: block;
	font-weight: normal;
	padding: 4px;
	background-color: #efefef;
	text-decoration: none;
	margin-right: 3px;
	background-image: url(../images/tab-shadow.png);
	background-repeat: repeat-x;
	background-position: bottom;
	
	border-color:#eee #aaa #000 #eee;
	border-style:solid;
	border-width:1px 1px 0 1px;

	-moz-border-radius:4px 4px 0 0;
  -webkit-border-radius:4px 4px 0 0;


}
div#header-toolbar ul li a.selected:link, div#header-toolbar ul li a.selected:visited  {
	background-image: none;
	background-color:black;
	color: #fff;
	border: 2px solid black;
	border-bottom-width: 0;
	font-weight:bold;
}
div#header-toolbar ul li a:hover {
	background-image: none;
	background-color: #000000;
	color: #fff;
}
div#header-toolbar ul li form {
	display: none;
}
