.part-info-box{
  margin-top: -1px;
  border:   1px solid #999;
  padding-left: 10px;
}

.part-info{
}

.byte_desc_img{
  float:    left;
  margin-right: 10px;
  margin-bottom: 10px;
}

div.parts_box{
  overflow:         hidden;
  position:         relative;
  border:           1px solid #999;
  margin:           2;
  height:           114px;
}

ol.parts_list{
  list-style-type:  none;
  float:            left;
  height:           50;
  width:            650;
  padding:          0;
  margin:           0;
  background:       transparent;
}

.parts_list li{
  margin:           3px 0px 3px 0;
  float:            left;
  width:            100px;
  height:           40px;
  text-align:       center;
  z-index:          10;
}


.top-left{
  position:         absolute;
  top:              0;
  left:             0;
  width:            50px;
  height:           46px;
  background: url(../images/top-left.png);
}

.plasmid-wrap{
  position:         absolute;
  top:              0;
  left:             0;
  width:            750px;
  height:           92px;
  z-index:          -100;
  background: url(../images/plasmid-wrap.png);
}

.left-side{
  position:         absolute;
  top:              46px;
  width:            50px;
  height:           200px;
  background: url(../images/left-side.png);
}

.bottom-left{
  position:         absolute;
  top:              240px;
  width:            50px;
  height:           46px;
  background: url(../images/bottom-left.png);
}
.bottom{
  position:         absolute;
  top:              240px;
  left:             50px;
  width:            650px;
  height:           46px;
  background: url(../images/bottom.png);
}
.bottom-right{
  position:         absolute;
  top:              240px;
  left:             700px;
  width:            50px;
  height:           46px;
  background: url(../images/bottom-right.png);
}
.plasmid-inner{
  margin:           0 0 0 50px;
}
.plasmid-spacer{
  position:         absolute;
  width:            50px;
  height:           46px;
  background: url(../images/plasmid-spacer.png);
}
.plasmid-end{
  position:         absolute;
  left:             650px;
  width:            100px;
  height:           46px;
  background: url(../images/plasmid-end.png);
}
