div.construct_preview_box{
}

.construct_parts{
  list-style-type:  none;
  height: 50px;
  border: 1px solid #AAA;
}

.construct_parts li{
  margin:           3px 3px 3px 0;
  padding:          1px;
  float:            left;
  width:            100px;
  height:           40px;
  text-align:       center;
  border: 1px solid #333;
}

