#parts_box, #parts-row, #sequence_box {
  -moz-user-select:   none;
  -khtml-user-select: none;
  user-select:        none;
  -webkit-user-select:none;

}

div#parts_box{
  overflow:         hidden;
  position:         relative;
  border:           1px solid #999;
  height:           114px;
  margin-bottom:    -1px;
}

ol#parts_list{
  list-style-type:  none;
  float:            left;
  height:           50;
  width:            600;
  padding:          0;
  margin:           0;
  background:       transparent;
}

#parts_list li{
  margin:           3px 0px 3px 0;
  float:            left;
  width:            100px;
  height:           40px;
  text-align:       center;
  z-index:          10;
  cursor:           move;
}

#parts-row{
  height: 297px;
}

#parts-bin{
  float:            left;
  height:           295px;
  width:            146px;
  border:           1px solid #999;
  background-color: #DDD;
}

#parts-scroll{
  height:           265px;
  overflow-y:       scroll;
  overflow-x:       hidden;
}

#parts-list{
  text-align: center;
}
.cat-list p {
  background: transparent;
  background-color: #BBB;
  margin-top: 0;
  margin-bottom: 0;
}
.cat-list ul {
  background: transparent;
}


#parts-bin a{
  font-size: 11pt;

}

#parts-bin h2 {
  background-color: #333;
  text-align: center;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #CCC;
}
#parts-bin h3 {
  background-color: #666;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #333;
}

#parts-bin h3:hover {
  background-color: #999;
}

#parts-bin a {
  color: white;
  text-decoration: none;
}

#parts-bin a:hover {
  background-color: transparent;
}


#part-info-box{
  margin-left:      -1px;
  width:            586px;
  height:           295px;
  float:            left;
  border:           1px solid #999;
  padding:          0 0 0 15px;
  overflow-y:       auto;
}

#part-info{
}

.byte_desc_img{
  float:      left;
  margin: 0px 10px 10px 0px;
}
ul.parts_bin{
  list-style-type:  none;
  margin:           0px -1px -1px -1px;
  background-color: #BBB;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}
div#trash {
  padding:          22 0 0 0;
  border:           1px solid #888;
  height:           50;
  width:            200;
  text-align:       center;
}
ul.parts_bin li{
  margin:           3px 0px 3px 0px;
  width:            100px;
  height:           40px;
  text-align:       center;
  border:           1px solid #555;
  cursor:           move;
}

.annotation{
  position:         absolute;
  border:           1px solid black;
}

.annotation.orf{
  background-color: #333;
  color:            #FFF;
}

div#sequence {
  text-align:       left;
  font-size:        9pt;
  white-space:      nowrap;
  font-family:      'monospace';
  border:           1px solid #999;
  padding-top:      7px;
}

.numspacer{
  float: left;
  text-align: right;
  width: 6ex;
}

.seq{
  position: relative;
}
.partline{
  left: 6ex;
  position:         relative;
  height: 3ex;
}
.featureline{
  left: 6ex;
  position:         relative;
  height: 3ex;
}

div#nav {
}


/*
.seqtable td{
  font-size:        9pt;
  font-family:      'monospace';
}
*/

.annotation{
  margin:           -1px;
  text-align:       center;
  white-space:      nowrap;
}

.ann_label{
  font-size:        8pt;
}

.byte{
  background:       #333;
  color:             #FFF;
}

.tooltip{
  text-align:       center;
  display:          none;
  background:       #666;
  border:           2px solid #333;
  font-size:        10pt;
  color:            #FFF;
  padding:          10px;
  margin:           -10 0 0 0px;
}
.tooltip a{
  color:            #AAA;
}

#top-left{
  position:         absolute;
  top:              0;
  left:             0;
  width:            50px;
  height:           46px;
  background: url(../images/top-left.png);
}
.plasmid-wrap{
  position:         absolute;
  top:              0;
  left:             0;
  width:            750px;
  height:           92px;
  z-index:          -100;
  background: url(../images/plasmid-wrap.png);
}

#left-side{
  position:         absolute;
  top:              46px;
  width:            50px;
  height:           200px;
  background: url(../images/left-side.png);
}
#bottom-left{
  position:         absolute;
  top:              240px;
  width:            50px;
  height:           46px;
  background: url(../images/bottom-left.png);
}
  
#bottom{
  position:         absolute;
  top:              240px;
  left:             50px;
  width:            650px;
  height:           46px;
  background: url(../images/bottom.png);
}
#bottom-right{
  position:         absolute;
  top:              240px;
  left:             700px;
  width:            50px;
  height:           46px;
  background: url(../images/bottom-right.png);
}
#plasmid-mid{
  width:            500px;
  height:           46px;
  background-color: gray;
}

#plasmid-inner{
  margin:           0 0 0 50px;
}

#plasmid-spacer{
  position:         absolute;
  width:            50px;
  height:           46px;
  background: url(../images/plasmid-spacer.png);
}
#plasmid-end{
  position:         absolute;
  left:             650px;
  width:            100px;
  height:           46px;
  background: url(../images/plasmid-end.png);
}

.more-info-link{
  background-color:       transparent;
  text-align:             left;
  cursor:                 pointer;
  border: 1px solid black;
}
.more-info-link:hover {
  background-color:       black;
  color:                  white;
}
