body {
  font-family:  "sans-serif";
}



h1#title {
  position:         absolute;
  top:              -12px;
  left:             8px;
  width:            1158px;
  text-align:       center;
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
}

div#construct{
  position:         absolute;
  top:              53px;
  left:             266px;
  height:           200px;
  width:            900px;
  border:           1px solid #AAA;
  text-align:       center;
}

div#parts_box{
  overflow:         auto;
  border:           1px solid #999;
  margin:           2;
  height:           114px;
}
ol#parts_list{
  list-style-type:  none;
  height:           50;
  padding:          0;
  margin:           0;
}
div.xscrollbuffer{
  width: 5000px;
}

#parts_list li{
  margin:           3px 0px 3px 0;
  float:            left;
  width:            100px;
  height:           40px;
  text-align:       center;
}
.ui-state-hover{
  background-color: #999;
  color:            white;
}
.ui-state-active{
  background-color: #333; 
  color:            white;
}


/* TODO Scroll bars screw with zooming, address this!*/
ul.parts_bin{
  list-style-type:  none;
  margin:           2;
  padding:          0;
  height:           350;
  overflow-y:       scroll;
  border:           1px solid #999;
  float:            left;

}

ul.parts_bin li{
  margin:           3px
  padding:          1px;
  width:            100px;
  height:           40px;
  text-align:       center;
  border:           1px solid #555;
}

.annotation{
  border:           1px solid black;
}


div#parts_bin{
  position:         absolute;
  top:              53px;
  left:             8px;
  height:           500px;
  width:            255px;
  border:           1px solid #AAA;
  text-align:       center;
}


div#sequence_box {
  position:         absolute;
  text-align:       center;
  top:              260px;
  left:             266px;
  height:           293px;
  width:            900px;
  border:           1px solid #AAA;
}
div#sequence {
  text-align:       left;
  white-space:      nowrap;
  overflow:         auto;
  font-family:      'monospace';
  height:           228px;
  width:            894px;
  margin:           2;
  border:           1px solid #999;
}

div#nav {
  position:         absolute;
  top:              18px;
  left:             50px;
}

div#trash {
  padding:          22 0 0 0;
  position:         absolute;
  top:              422px;
  border:           1px solid #888;
  height:           50;
  width:            248;
  margin:           2;
  text-align:       center;
}

.seqtable{
  font-size:        10pt;
}

.annotation{
  margin:           -1px;
  text-align:       center;
  float:            left;
  white-space:      nowrap;
}

.ann_label{
  font-size:        8pt;
}

.byte{
  background:       #333;
  color:             #FFF;
}

.tooltip{
  text-align:       center;
  display:          none;
  background:       #666;
  border:           2px solid #333;
  font-size:        10pt;
  color:            #FFF;
  padding:          10px;
  margin:           -10 0 0 0px;
}
.tooltip a{
  color:            #AAA;
}

#plasmid-left{
  float:            left;
  width:            100px;
  height:           80px;
  background-image: url('/images/plasmid-left.png');
}
#plasmid-mid{
  float:            left;
  width:            1000px;
  height:           80px;
  background-image: url('/images/plasmid-mid.png');
}
#plasmid-right{
  float:            left;
  width:            100px;
  height:           80px;
  background-image: url('/images/plasmid-right.png');
}
