/*styling for experiment page*/
/*title of experiment */
#experiment-title {
	width: 600px;
	margin-left:auto;
	margin-right:auto;
}

#experiment-title h1{
	text-align: center;
}
/* authour of experiment*/
#experiment-title h2{
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	font-style: italic;
}

/*description of experiment*/
#experiment-title p{
	text-align: justify;
}

/* styling steps */
#stepTitle p {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

div.step {
width:730px;
padding:0px;
border-bottom:0.25em solid #efefef ;
margin:0px;
margin-bottom:3em ;
}

p.step_note_container {
	background:#efefef;
	margin: 0;
	padding-top: 1em; 
	padding-bottom: 1em;
}
img.step_note_container {
	float: left;
	margin: 10px;
}


textarea {
  width:550px;
  height:100px;
}


span.step_number {
	display:inline;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #000;
	color: #efefef;
}

/*editing steps toolbar*/

ul.step-toolbar {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	overflow: hidden;

}
li.step-toolbar {
	float: left;
}
li.btn-step-note{
	float: right;
}



a.step-toolbar:link, a.step-toolbar:visited {
	display: block;
	font-weight: normal;
	padding: 4px;
	background-color: #efefef;
	text-decoration: none;
	margin-right: 2px;
}

a.step-toolbar.selected {
	background-color: white;
}


a.step-toolbar:hover {
	background-color: #000000
}
a.btn-step-note.step-toolbar {
	margin-right: 0;
}

#container {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

body, p, ol, ul, td {
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
	background-position: center;
/*background-color: #f7f4ee;*/
	background-color:#efefef;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  text-align: left;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


