/*styling for experiment page*/

div#flash-notice {
	background:none repeat scroll 0 0 #C7FFC4;
	display:table;
	display:none;
	font-size:13px;
	line-height:18px;
	margin-left:auto;
	margin-right:auto;
	padding:0.4em 2em;
	text-align:center;
}

/*title of experiment */
#experiment-title {
	width: 600px;
	margin-left:auto;
	margin-right:auto;
}

#experiment-title h1{
	text-align: center;
}
/* authour of experiment*/
#experiment-title h2{
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	font-style: italic;
}

/*description of experiment*/
#experiment-title p{
	text-align: justify;
}

/* styling steps */
#stepTitle p {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

div.step {
width:730px;
padding:0px;
margin:0px;
margin-bottom:3em ;
}

span.save-notice {
	display: none;
	background:#C7FFC4;
	margin-left: 0.5em;
	padding: 0.4em 2em;
	font-size:   13px;
  	line-height: 18px;
}

span.save-notice.error-message {
	background: #FF8593;
}


div.step_note_container, div.step_note_container p, div.step_note_container form {
	background:#efefef;
}

div.step_note_form {
	display: none;
}
/*
form.new_note{
	background:#efefef;
}
*/
div.step_note_container p {
	margin: 0;
	padding:1em;
}

div.upload_thumb_container {
	float: left;
	margin: 1em;
	width: 100px;
	height: 100px;
}

form.inplace_upload_image {
	margin-top: 50px;
}

form.attach_image_to_note {
	margin-top: 28px;
}

div.loading {
	background-image: url(../images/spinner.gif);
	background-position: center;
	background-repeat: no-repeat;

}


img.note_thumb {
	float: left;
/*	margin: 1em; */
}

img.step_view {
	float: right;
	margin: 10px;
	margin-right: 0;
	margin-top: 0;
}


textarea {
  width:550px;
  height:100px;
}


span.step_number {
	display:inline;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #000;
	color: #efefef;
}

span.edit_step_number {
	display:inline;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #000;
	color: #efefef;
}

/*editing steps toolbar*/
div.step-toolbar {
	border-bottom:0.25em solid #efefef ;
	clear:both;
	margin-top: 0.25em;
} 
div.step-toolbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	overflow: hidden;

}
div.step-toolbar ul li {
	float: left;
}
div.step-toolbar ul li.btn-step-note{
	float: right;
}

div.step-toolbar ul li a.shadow {
	background-image: url(../images/tab-shadow.png);
	background-repeat: repeat-x;
	background-position: bottom;

}

div.step-toolbar ul li a:link, div.step-toolbar ul li a:visited {
	display: block;
	font-weight: normal;
	padding: 4px;
	background-color: #efefef;
	text-decoration: none;
	margin-right: 2px;
}
/*
a.step-toolbar.selected {
	background-color: white;
}
*/

div.step-toolbar ul li a:hover {
	background-image: none;
	background-color: #000000;
	color: #fff;
}
div.step-toolbar ul li a.btn-step-note {
	margin-right: 0;
}

div.step-toolbar ul li form {
	display: none;
}

/* toolbar for editing notes*/
div.note-toolbar {
	clear: both;
	background-color: white;
}
div.note-toolbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.note-toolbar ul li {
	float: right;
}

div.note-toolbar ul li form {
	display: none;
}

div.note-toolbar ul li  a:link, div.note-toolbar ul li a:visited {
	display: block;
	font-weight: normal;
	padding: 4px;
	background-color: #efefef;
	text-decoration: none;
	margin-left: 2px;
}

div.note-toolbar ul li a:hover {
	background-color: #000000;
	color: #fff;
}


img.step_note {
	float: left;
	margin: 10px;
	margin-left: 0;
	margin-top: 0;
}

/* styling for profile page */
div.lab-book table {
	width: 100%;
}
div.lab-book h2 {
	margin:0;
	margin-bottom: 0.2em;

}
div.lab-book h2 a:link, div.lab-book h2 a:visited {
	display:inline;
	color:black;
	text-decoration:none;
	padding-right:23px;
	background-image:url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position:right; 

}
div.lab-book h2 a:hover {
	background-color: #efefef;
	background-image:url(../images/arrow2.png);
}


div.lab-book td.date {
	text-align: right;
	font-style:italic;
	color: gray;
	font-family: georgia,serif;
}
div.lab-book td.status {
	text-align: right;
}
div.lab-book td.status.complete{
	color:green;
}
div.lab-book td.status.inProgress {
	color:yellow;
}
div.lab-book {
}
span.more {
	display: none;
}
div.edit-experiment {
	display: none;
}
div#lab-manual-header {
	border-bottom: 5px solid black;
	margin-bottom: 4em;
}
div#lab-manual-header p {
	color: #666;
	font-family:georgia,serif;
	font-style:italic;
	font-size:1.2em;
	line-height:1.5em;
}



/*toolbar for experiments in lab-book listings*/
div.experiment-toolbar {
	clear: both;
	background-color: white;
	border-top: 2px solid #efefef;
	margin-bottom: 2em;

}
div.experiment-toolbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.experiment-toolbar ul li {
	float: right;
}

div.experiment-toolbar ul li form {
	display: none;
}

div.experiment-toolbar ul li a:link, div.experiment-toolbar ul li a:visited {
	display: block;
	color: #666;
	font-weight: normal;
	padding: 4px;
	background-color: #efefef;
	text-decoration: none;
	margin-left: 2px;
}

div.experiment-toolbar ul li a:hover {
	background-color: #000000;
	color: #fff;
}



/*toolbar for switching between tabs on profile page*/
div#profile{
}

div#lab-book {
	display: none;
}

div#profile-toolbar {
	border-bottom:0.25em solid black ;
	clear:both;
	margin-top: 0.25em;
	margin-bottom: 1em;
	
} 
div#profile-toolbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	overflow: hidden;

}
div#profile-toolbar ul li {
	float: left;
}
div#profile-toolbar ul li#more-experiments-tab{
	float:right;
}
div#profile-toolbar ul li#more-experiments-tab a {
	margin: 0;
	margin-left:2px;
}
/* group profile page */
#group-members, #admin-tools {
	display: none;
}

/*div#profile-toolbar ul li a {
	background-image: url(../images/tab-shadow.png);
	background-repeat: repeat-x;
	background-position: bottom;

}
*/

div#profile-toolbar ul li a:link, div#profile-toolbar ul li a:visited {
	display: block;
	font-weight: normal;
	padding: 4px;
	background-color: #efefef;
	text-decoration: none;
	margin-right: 2px;
	background-image: url(../images/tab-shadow.png);
	background-repeat: repeat-x;
	background-position: bottom;
}
div#profile-toolbar ul li a.selected:link, div#profile-toolbar ul li a.selected:visited  {
	background-image: none;
	background-color:black;
	color: #fff;
	border: 2px solid black;
	border-bottom-width: 0;
}
div#profile-toolbar ul li a:hover {
	background-image: none;
	background-color: #000000;
	color: #fff;
}
div#profile-toolbar ul li form {
	display: none;
}
div#profile table tr td {
	vertical-align:top;
	padding-left: 1em;
}
div#profile table tr td.title {
	padding: 1px;
	font-weight:bold;	
}

/* styling for navigation bar */
div#navBar {
	position: fixed;
	margin-left:-520px;
	left: 50%;
	top: 0;
	height: 26px;
	width: 980px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	background-color: black;
	background-image: none;
	z-index: 1;

}
div#navBar input {
	font-size: 10px;
	margin-right: 5px;
	border: 1px solid gray;
	width: 133px;
	height: 13px;
	margin-top: 1px;
	margin-bottom: 1px;	
}
div#nav-right-corner{
	background-image: url(../images/rcorner.png);
	float: right;
	height: 26px;
	width: 26px;
	margin-right:-56px;
	background-color:transparent; 

}
div#nav-left-corner{
	background-image: url(../images/lcorner.png);
	float: left;
	height: 26px;
	width: 26px;
	margin-left:-56px;
	background-color:transparent;
}
div#btn-hide-nav {
	float:right;
	background-color: transparent;	
	margin-left: 0px;
}
div#btn-hide-nav a:link, div#btn-hide-nav a:visited {
	display:block;
	width:58px;
	height:19px;
	background-image: url(../images/slideUp.png);
}
div#btn-hide-nav a:hover {
	display:block;
	background-color:transparent;
	width:58px;
	height:19px;
	background-image: url(../images/slideUphover.png);
}
div#btn-hide-nav a.slid:link, div#btn-hide-nav a.slid:visited {
	display:block;
	width:58px;
	height:19px;
	background-image: url(../images/slideDown.png);
}
div#btn-hide-nav a.slid:hover {
	display:block;
	background-color:transparent;
	width:58px;
	height:19px;
	background-image: url(../images/slideDownhover.png);
}

div#navBar ul {
	background-color:black;
	color: white;
	background-image: none;
}
div#navBar ul li{
	float: right;
}
div#navBar ul span#user-nav li{
	float: left;
}
div#navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	overflow: hidden;
	height: 26px;
}

div#navBar ul li a {
	text-decoration: none;
	display: block;
	font-weight: normal;
	padding: 4px;
	color: #efefef;
	text-decoration: none;
	margin-right: 2px;
}
div#navBar ul li a:link, div#navBar ul li a:visited {
}
div#navBar ul li a:hover {
	color: white;
	font-weight: bold;
}
div#navBar ul li h2 {
	display: block;
	margin: 2px;
	font-size: 18px;
}
a#home-link:link, a#home-link:visited {
	height:20px;
	width:20px;
	padding-top:0;
	background: #000 url(../images/miniGenomikon.png) no-repeat center;
}
a#home-link:hover {
	background-image: url(../images/miniGenomikonHover.png);
}

/********* new user ********************/
div#user-form {
	background-color:#efefef;
	padding:30px;
	padding-top:15px;
	text-align: center;
	color:#666;
	margin: 0 150px;
	margin-top:30px;

}
div#user-form .btn{
	border:1px solid black;
	margin-right:3px;
	padding:2px;
	text-decoration:none;
	color:black;
	height:22px;
	line-height:18px;
	font-size:13px;
	background-color:#efefef;
	font-family: verdana,arial,helvetica,sans-serif;
}
div#user-form .btn:hover {
	color:white;
	background-color:black;
}
div#user-form form {
	display:table;
	background-color:#efefef;
	margin-left:auto;
	margin-right:auto;
}
div#user-form form p {
	background-color:#efefef;
	background-image:none;
}
div#user-form input {
	border: 1px solid #666;
}


/************ homepage *****************/
h2#home-notice {
	text-align:center;
	color:#666;
}

div#home-logo {
	display:block;
	height:100px;
	width:400px;
	margin-left:191px;
	margin-top:90px;
}
div#home-logo h1 {
	font-size:52px;
	line-height:0;
	font-family: "Trebuchet MS",arial;
	padding-top:46px;
	color: #666;

}
div#home-logo img {
	float: left;

}
div#home-bar {
	clear: both;
	display:table;
	margin-left:auto;
	margin-right:auto;
	margin-top:35px;
}

div#home-bar ul {
	color: #666;
	background-image: none;
	background-color:white;
}
div#home-bar ul li{
	float: left;
}
div#home-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	overflow: hidden;
}

div#home-bar ul li a {
	text-decoration: none;
	display: block;
	font-weight: normal;
	padding: 12px;
	font-size:18px;
	color: #666;
	text-decoration: none;
	margin-right: 4px;
	background-color:#efefef;
	line-height:18px;
	padding:13px;
}
div#home-bar ul li a:link, div#home-bar ul li a:visited {
}
div#home-bar ul li a:hover {
	color: white;
	font-weight: bold;
	background-color:#666;
}

/** styling parts bin ***/
div#bio-bytes-table {
	width:500px;
	margin-left:auto;
	margin-right:auto;
}
div#bio-byte-table  div.description {
	width:500px
}
div#bio-bytes-table div.byte-row  {
	clear:both;
}
div.byte-row div.byte-name h2 {
	display:inline;
}
div.byte-row div.byte-name h2.selected {
	padding-top:0.5em;
}
div#bio-bytes-table div.byte-row a.btn-byte-desc:link, div.byte-row a.btn-byte-desc:visited {
	text-decoration: none;
	color:black;
	padding-right:25px;
	background:url(../images/expand.png) no-repeat right center;
}
div#bio-bytes-table div.byte-row a.btn-byte-desc:hover {
	background-image: url(../images/expandHover.png);
	background-color:#efefef;
}
div#bio-bytes-table img{
	float:left;
	padding:1em;
	padding-right:1em;
	padding-left:0;
}
div#bio-bytes-table div.byte-row img.icon {
	float:right;
	padding:0;
}
div#bio-bytes-table p{
	padding-left:1em;
	padding-bottom:1em;
}
div#bio-bytes-table div.description {
	margin-bottom: 2em;
	padding-top:0.5em;
	display:none;
}
/* if the row is expanded **********************/
div#bio-bytes-table div.byte-row.selected a.btn-byte-desc:link, div#bio-bytes-table div.byte-row.selected a.btn-byte-desc:visited {
	background:url(../images/collapse.png) no-repeat right center;
}
div#bio-bytes-table div.byte-row.selected a.btn-byte-desc:hover {
	background-image: url(../images/collapseHover.png);
	background-color:#efefef;
}
div#bio-bytes-table div.byte-row.selected img.icon {
	float:right;
	padding:0;
}
/***styling for toolbar****/
div.byte-toolbar {
	clear:both;
	border-top:2px solid #efefef;
} 
div.byte-toolbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	overflow: hidden;

}
div.byte-toolbar ul li {
	float: left;
}

div.byte-toolbar ul li a.shadow {
	background-image: url(../images/tab-shadow.png);
	background-repeat: repeat-x;
	background-position: bottom;

}

div.byte-toolbar ul li a:link, div.byte-toolbar ul li a:visited {
	display: block;
	font-weight: normal;
	padding: 4px;
	background-color: #efefef;
	text-decoration: none;
	margin-right: 2px;
}
/*
a.byte-toolbar.selected {
	background-color: white;
}
*/

div.byte-toolbar ul li a:hover {
	background-image: none;
	background-color: #000000;
	color: #fff;
}
div.byte-toolbar ul li a.btn-step-note {
	margin-right: 0;
}

div.byte-toolbar ul li form {
	display: none;
}


#container {
	width: 750px;
 	margin-right: auto;
  	margin-left: auto;
	margin-top: 4em;
  	position: relative;
}

body {
	margin-top: 0;
}

body, p, ol, ul, td {
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
	background-position: center;
/*background-color: #f7f4ee;*/
	background-color:#efefef;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  text-align: left;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { color: #fff; background-color:#000; }
a:visited { color: #666; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


