<div class="lab-book">
	<table>
		<tr>
			<td><h2><%= link_to member.login , profile_path(member.login) %></h2></td>
			<td class="right" > experiments completed </td>
		</tr>
	</table>
<div class="hanging-toolbar" >
	<!-- do this with user permission TODO -->
	<% if true %>
	<ul>
			<li><a class="btn-delete-user" href="#" >Delete</a>
			<%= button_to "delete user", experiment_path(member),:method=>:delete %>
			</li>
			
	</ul>
	<% end %>
</div>
</div>
