<div class="message">
	<h2><%= message.updated_at.strftime("%b<br/>%d/%y") %></h2>
	<%= save_notice %>
	<%= more_text h( message.body ) , 150 %>

<div class="hanging-toolbar" >
	<% if logged_in? && current_user.can_delete_messages_for_group?( group ) %>
	<ul>
			<li><a class='btn-delete-message' href="#" >Delete</a>
			<%= button_to "delete message" , group_message_path(@group,message), :method=>:delete%>
			</li>
			
	</ul>
	<% end %>
</div>
</div>
