<div class="message">
	<h2><%= message.updated_at.strftime("%A, %b. %d") %><h2>
	<p><%= more_text h( message.body ) , 150 %>

<div class="hanging-toolbar" >
	<!-- do this with user permission TODO -->
	<% if true %>
	<ul>
			<li><a class='btn-delete-message' href="#" >Delete</a>
			<%= button_to "delete message" , group_message_path(@group,message)%>
			</li>
			
	</ul>
	<% end %>
</div>
</div>
