
<% content_for :title do %>
   Groups
<% end %>

<% content_for :header do %>
	<div id='header'>
		<h1>Groups</h1>
		<p>Check out what other groups are up to, request to join a group, or start one yourself.
		</p>
		
		<div id='header-toolbar' ><ul>
				<li class="right"><%= link_to 'Create a group', new_group_path %></li>
			</ul>
		</div>
	</div>
<% end %>

<%= search_box groups_path, "Search groups:" %>
<p class="search_info">
	<%= search_page_info( @search, @groups ) if @search %>
</p>
<% paginated_section @groups do %>
	<%= render :partial => 'group', :collection=>@groups%> 
<% end %>
	
