<h2 id="home-notice" <%= 'class="error"' if flash[:error]%>>
	<%= flash[:error] || flash[:notice] %></h2>

<div id="home-content">

  <div id=left-sidebar>

      
    <div id=info-box1 class=right-info-box>
      <h3>Contents</h3>
      <p><i>Put contents of about page here...</i></p>
    </div>

  </div>

    
  <div id=center-content>

    <div id=main-info-box>

      <h2>INTRODUCTION TO GENOMIKON</h2>

      <p>Here we can relate to the students what the haps are with this kit</p>

      <p>Things to include:</p>
      <ul>
        <li>How to start an experiment</li>
        <li>How to build something with the plasmid designer</li>
        <li>Legend for part icons</li>
        <li>Talk about parts library</li>
        <li>Etc etc</li>
      </ul>

    </div>

  </div>

  <div id=right-sidebar>
    <div id=info-box1 class=right-info-box>
    </div>
  </div>

</div>
