<% content_for :includes do %>
	<%= javascript_include_tag 'experimentIndex' %>
<% end %>

<% content_for :title do %>
	<%= 'Lab Manual' %>
<% end %>

<div id="header" >
	<h1>Lab Manual</h1>
	<p>View an experiment, without the ability to edit or add notes, or add it to your lab book for full control.</p>
	<div id="header-toolbar" ></div>
</div>

<%= render :partial=>'description', :collection => @experiments, :as=>:experiment %>

<!-- TODO put in toolbar -->
<% if logged_in? && current_user.can_create_experiments? %>
<%= link_to 'New experiment', new_experiment_path %>
<%end%>
