<div id="lab-manual-header">
<h1>Parts Bin</h1>
</div>
<%= render :partial=>'bio_byte',:locals=>{:bytes=>@bytes} %>

<p><%= link_to "New", new_bio_byte_path %></p>
<p><%= link_to "Home", :controller => :home %></p>
